<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <div id="app">
        <header-todo @additem="addTodo" :item="item"></header-todo>
        <list-todo :todos="Todos" :item="item" :status="status"></list-todo>
    </div>

    <script>
        const App = {
            data() {
                return {
                    Todos: [
                        {
                            id: 0, title: 'vuejs', description: '', status: 'uncomplete', read: false
                        },
                        {
                            id: 1, title: 'reactjs', description: '', status: 'complete', read: false
                        }
                    ],
                    status: ['complete', 'uncomplete'],
                    item: {
                        id: 1, title: '', description: '', status: 'uncomplete', read: false
                    }
                }
            },
            methods: {
                addTodo(item) {
                    this.Todos.push({ id: item.id, title: item.title, description: '', status: 'uncomplete', read: false })

                }
            },
        }

        const headerTodo = {
            props: ['item'],
            template: ` <div class="header">
                            <h1>Todos</h1>
                            <form action="" class="addTodo">
                                <input type="text" placeholder="Todos title" id="texttitle" class="text" autofocus @keyup.enter="addItem(item)" v-model="item.title">
                                <input type="button" @click="addItem(item)" value="Add Todos" id="btnadd" class="btn">
                            </form>
                        </div>`,
            methods: {
                addItem(item) {
                    item.id++
                    this.$emit('additem', item)
                    item.title = ''
                }
            },
        }
        const listTodo = {
            data() {
                return {
                }
            },
            computed: {
                complete() {
                    return this.todos.filter(e => e.status == "complete").length

                },
                uncomplete() {
                    return this.todos.filter(e => e.status == "uncomplete").length

                },

            },

            props: ['todos', 'item', 'status'],
            template: ` <div class="nav__List-todo">
                            <h2 style="padding: 30px; color: white;" v-if="todos.length <= 0">Empty List</h2>
                            <span v-if="todos.length > 0" >
                                <span   class="taskstatus" >List Task:</span> <span style="color: black;">{{todos.length}}</span>
                                | <span class="taskstatus" @click="completeTask()" >Task Complete:</span> <span style="color: blue;">{{complete}}</span>
                                | <span class="taskstatus" @click="uncompleteTask()">Task Uncomplete:</span> <span style="color: red;">{{uncomplete}}</span>
                            </span>
                
                            <form action="" v-if="todos.length > 0">
                                <ul v-for="(todo,index) in todos" :key="index" class="item">
                                    <li>
                                        <span class="title">{{todo.title}} | <select id="status" style="font-size: 16px;" :disabled="!todo.read"> <option :value="todo.status" selected> {{todo.status}} </option> <option :value="this.status[0]">{{this.status[0]}}</option> <option :value="this.status[1]">{{this.status[1]}}</option> </select></span>
                                        <span><input type="button" id="edit" value="edit" class="btnStatus" @click="edit(todo)"></span>
                                        <span><input type="button" value="delete" @click="deleteTodo(index)" class="btndelete"></span>
                                    </li>
                                </ul>
                            </form>
                        </div>`,
            methods: {
                status(todo) {
                    
                },
                deleteTodo(id) {
                    this.todos.splice(id, 1)
                },
                edit(todo) {
                    if (document.getElementById('edit').value == 'edit') {
                        document.getElementById('edit').value = 'save'
                        document.getElementById('btnadd').disabled = !document.getElementById('btnadd').disabled
                        this.item.title = todo.title
                        this.todos[todo.id].read = !this.todos[todo.id].read
                    } else {
                        document.getElementById('edit').value = 'edit'
                        document.getElementById('btnadd').disabled = !document.getElementById('btnadd').disabled
                        this.todos[todo.id].title = document.getElementById('texttitle').value
                        this.todos[todo.id].status = document.getElementById('status').value
                        this.item.title = ''
                        this.todos[todo.id].read = !this.todos[todo.id].read
                    }

                },
                read(id) {
                    this.Todos[id].read = !this.Todos[id].read
                },
            },

        }

        const app = Vue.createApp(App)
        app.component('headerTodo', headerTodo)
        app.component('listTodo', listTodo)
        app.mount('#app')
    </script>
    <style>
        * {
            text-align: center;

        }

        #app {
            width: 60%;
            height: 500px;
            margin-left: 20%;
            background-color: rgb(255, 223, 182);
        }

        .header {
            margin-bottom: 30px;
        }

        .text {
            width: 300px;
            height: 30px;
        }

        .btn {
            width: 100px;
            height: 35px;
            cursor: pointer;
            background-color: rgb(139, 89, 255);
            color: whitesmoke;
            margin-left: 10px;
        }

        .btn:hover {
            background-color: rgb(93, 255, 133);
        }

        .item {
            width: 100%;
            height: 50px;
            background-color: white;
            padding: 0;
            margin-top: 20px;
            position: relative;
        }

        .item li {
            list-style-type: none;
        }

        .item span {
            font-size: 22px;

        }

        .title {
            margin-top: 10px;
            position: absolute;
            left: 50px;
        }

        .btnStatus {
            cursor: pointer;
            margin-left: 150px;
            margin-top: 10px;
            position: absolute;
            right: 40px;
            width: 70px;
            height: 30px;
        }

        .btnStatus:hover {
            background-color: rgb(73, 245, 150);
            color: white;
        }

        .btndelete {
            cursor: pointer;
            margin-left: 150px;
            margin-top: 10px;
            position: absolute;
            right: 120px;
            width: 70px;
            height: 30px;
        }

        .btndelete:hover {
            background-color: rgb(73, 245, 150);
            color: white;
        }

        .nav__List-todo {
            width: 80%;
            margin-left: 10%;
            text-align: center;
        }

        .taskstatus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .taskstatus:hover {
            color: whitesmoke;

        }
    </style>
</body>

</html>